* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Roboto, sans-serif;
    padding: 0px 64px;
    font-size: 18px;
}

body {
    display: flex;
    flex-direction: column;
    background-color: black;
}

.header {
    height: 72px;
    background-color: #1F2937;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.left-header {
    font-size: 24px;
    font-weight:900;
}

.banner {
    background-color: #1F2937;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 500px;
}

#sign-up-button1{
    background-color: #3882F6;
    color: white;

}

button {
    border: none;
    border-radius: 8px;
    padding: 8px 16px;
    margin-left: 65px;
}

img {
    width: 700px;
    height: auto;
}

.left-banner {
    display: flex;
    flex-direction: column; 
    align-items: flex-start;
    gap: 16px;
    width: 700px;
}

#hero-text {
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 900;
}
