* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Roboto, sans-serif;
    font-size: 18px;
}

body {
    display: flex;
    flex-direction: column;
    background-color: black;
}

.header {
    height: 72px;
    background-color: #1F2937;
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.left-header {
    font-size: 24px;
    font-weight:900;
    color: #F9FAF8;
}

.right-header {
    font-size: 1em;
    color: #E5E7EB;
    display: flex;
    gap: 32px;
}

.banner {
    background-color: #1F2937;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 528px;
}

#sign-up-button-one {
    background-color: #3882F6;
    color: white;
}

button {
    border: none;
    border-radius: 8px;
    padding: 8px 16px;
}

img {
    width: 700px;
    height: auto;
}

.left-banner {
    display: flex;
    flex-direction: column; 
    align-items: flex-start;
    gap: 16px;
    width: 700px;
}

#hero-text {
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 900;
}

.information {
    background-color: white;
    display: flex;
    flex-direction: column;
    gap: 52px;
    align-items: center;
    justify-content: center;
    height: 600px;
}
.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 52px;
}
.info img {
    height: 100px;
    width: auto;
}

.info {
    max-width: 250px;
    text-align: center;
}

#title {
    font-size: 36px;
    font-weight: 900;
    color: #1F2937;
}

.quote-section {
    background-color: #E5E7EB;
    height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.quote {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#quote-text {
    font-size: 36px;
    color: #1F2937;
    font-weight: 300;
}

#quote-author {
    margin-left: auto;
}

.modal-section {
    background-color: white;
    height: 528px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal {
    background-color: #3882F6;
    width: 900px;
    height: 200px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.modal-content {
    color: white;
}

.modal-header {
    font-weight: bold;
    font-size: 24px;
}

.sign-up-button-two {
    border: 2px solid white;
    background-color: #3882F6;
    color: white;
}

.footer {
    height: 72px;
    background-color: #1F2937;
    display: flex;
    justify-content: center;
    align-items: center;
}

.copyright {
    color: white;
}